body {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    margin: 20px 0px;
    text-align: center;
}

.link {
    font-size: 22px;
    text-decoration: none;
    color: rgb(42, 0, 77);
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.task-number {
    margin-bottom: 20px;
}

.main {
    margin: auto;
    background-color: rgb(245, 220, 228);
    max-width: 440px;
    min-width: 200px;
    min-height: 150px;
    padding: 10px;
    outline: 1px;
}

.message {
    margin-top: 10px;
}

.collapse-button {
    border: none;
    background: none;
    text-decoration: underline;
    margin-top: 5px;
}

.wrapped-text {
    width: 440px;
}

.hint-text {
    margin-top: 5px;
}